<a href="https://colab.research.google.com/github/crazat/crazat.githurb.io/blob/main/Colab_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab 연결
- Colab에서는 ipynb 파일을 열고 클라우드 자원(컴퓨팅 자원)을 할당받기 위해 연결작업을 해야한다.
- 우측 상단에 연결 버튼을 클릭하면 된다.

# Colab 사용법

- 셀 중간에 마우스를 가져다 놓으면 코드셀과 텍스트셀을 추가할수 있는 버튼이
나타난다.
- 셀을 클릭하면 우측에 셀 이동 및 삭제 버튼이 나타난다.
- `ctrl + enter`( 셀실행후 현재 셀선택)
- `shift + enter`( 셀실행후 아래 셀선택)
- `ctrl + /` (주석처리 및 해제)

In [ ]:
print("Hello Python")

Hello Python

- 코드 드래그후 `tab` (여러줄의 코드 들여쓰기)
- 코드 드래그후 `shift + tab` (여러줄의 코드 내어쓰기)

In [ ]:
# 구구단 출력 코드
s = '='*10
for n in range(2, 10):
    print(f"{s}[{n} 단]{s}")
    for i in range(1, 10):
        print(f"{n} X {i} = {n*i}")

==========[2 단]==========
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
==========[3 단]==========
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
==========[4 단]==========
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
==========[5 단]==========
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
==========[6 단]==========
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
==========[7 단]==========
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
==========[8 단]==========
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
==========[9 단]==========
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- `ctrl + alt` 커서를 위아래로 이동 (다중 커서)

In [ ]:
# 다중 커서 이용해서 "[머신러닝]" 문자열 동시에 입력해보기
print("[머신러닝]과목 소개 및 실습환경 소개")
print("[머신러닝]머신러닝 파이프라인")
print("[머신러닝]모델 성능 평가")
print("[머신러닝]모델 검증 전략")
print("[머신러닝]머신러닝 알고리즘 (1)")
print("[머신러닝]머신러닝 알고리즘 (2)")
print("[머신러닝]앙상블")
print("[머신러닝]중간시험")
print("[머신러닝]Feature Engineering")
print("[머신러닝]하이퍼파라미터 튜닝")
print("[머신러닝]비지도 학습")
print("[머신러닝]XAI")
print("[머신러닝]Data leakage")
print("[머신러닝]머신러닝 성능향상")
print("[머신러닝]기말시험")

[머신러닝]과목 소개 및 실습환경 소개
[머신러닝]머신러닝 파이프라인
[머신러닝]모델 성능 평가
[머신러닝]모델 검증 전략
[머신러닝]머신러닝 알고리즘 (1)
[머신러닝]머신러닝 알고리즘 (2)
[머신러닝]앙상블
[머신러닝]중간시험
[머신러닝]Feature Engineering
[머신러닝]하이퍼파라미터 튜닝
[머신러닝]비지도 학습
[머신러닝]XAI
[머신러닝]Data leakage
[머신러닝]머신러닝 성능향상
[머신러닝]기말시험

- 자동완성은 `ctrl + space`를 입력하거나, 코드를 입력하는 과정에서 자동으로 된다.
- 도움말에 경우는 도움말을 보고자하는 함수등을 클릭하고 마우스를 가져다 놓으면 볼수 있다.

In [ ]:
import pandas as pd
pd.DataFrame

pandas.core.frame.DataFrame

- 여러 셀 실행하기
    - 전체 셀 실행: `런타임` 메뉴에서 `모두 실행` 클릭
    - 현재 셀의 위에 있는 셀을 모두 실행: `런타임` 메뉴에서 `이전 셀 실행`클릭

- 노트북 파일 재시작 및 종료하기
    - 재시작: `런타임` 메뉴에서 `런타임 다시 시작` 클릭
    - 종료: `런타임` 메뉴에서 `런타임 연결 해제 및 삭제` 클릭

# 머신러닝에서 전처리가 중요한 이유
- garbage in, garbage out
    - 데이터가 아무리 많이 수집되어있더라도 쓰레기를 넣으면 쓰레기가 나온다
- 머신러닝은 좋은 데이터를 학습해야 좋은 성능을 보이기 때문에 학습시 사용하는 데이터가 얼마나 잘 가공되어있느냐에 따라 성능의 차이가 천차만별로 다르다.

# Pandas 라이브러리
- 파이썬에서 데이터를 간편하게 다룰 수 있도록 만들어진 라이브러리
- 2차원 배열 데이터에 대한 집계, 전처리 등을 굉장히 쉽게 할 수 있게 해준다.
- 정형 데이터를 다루는 라이브러리
- numpy 를 내부적으로 활용하기 때문에 numpy 의 특징을 그대로 가져다가 쓸수 있다.
- 다른 시스템이나 라이브러리에 쉽게 연결(데이터베이스, 머신러닝라이브러리)
- https://pandas.pydata.org/docs/

## 타이타닉 생존자 데이터셋
- 다음의 링크를 클릭하여 다운로드 받아 구글드라이브에 올리기
    - 학습세트: https://drive.google.com/file/d/17DUdpAGVIPJ5_Cghku38YG5ugN6-SiNX/view?usp=sharing
    - 평가세트: https://drive.google.com/file/d/1ZhrzzI81mN_rFWXw68eO2a2NQ8vg8IlZ/view?usp=sharing
    - 평가세트 정답: https://drive.google.com/file/d/1kBJwGeAI1y81-gL8AAVVs4ealPHTcNNS/view?usp=sharing

## 구글 드라이브 연결하기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

- 데이터 경로 변수

In [ ]:
DATA_PATH = "/content/drive/MyDrive/머신러닝/data/"
DATA_PATH

'/content/drive/MyDrive/머신러닝/data/'

- pandas 로 csv 파일 읽어오기

In [ ]:
train = pd.read_csv(f"{DATA_PATH}titanic_train.csv")
train.shape

(916, 12)

- 타이타닉 데이터셋 컬럼명 정보
    - passengerid: 승객 id
    - survived: 생존 여부(0:사망, 1:생존)
    - pclass: 객실등급(1, 2, 3)
    - name: 이름
    - gender: 성별 (male,female)
    - age: 나이
    - sibsp: 동반한 형제자매, 배우자 수
    - parch: 동반한 부모, 자녀 수
    - ticket: 티켓번호
    - fare: 요금
    - cabin: 객실 번호
    - embarked: 탑승 항구(C,Q,S)

In [ ]:
train.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

- 컬럼명 확인

In [ ]:
train.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [ ]:
train.columns.tolist() # 리스트로 변환하기

['passengerid',
 'survived',
 'pclass',
 'name',
 'gender',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked']

- 데이터 프레임 정보 확인하기

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        210 non-null    object
 11  embarked     916 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

## 데이터프레임 다루기

- copy 메소드
    - 데이터프레임 복사
    - 기본적으로 깊은 복사

In [ ]:
df = train.copy()
df.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

- 컬럼명 변경하기

In [ ]:
# 한번에 변경
cols = ["id","생존","객실등급","이름","성별","나이","형제자매_배우자수","부모_자녀수","티켓번호","요금","객실번호","탑승항구"]
df.columns = cols
df.head()

,id,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

In [ ]:
# 지정한 컬럼명들을 변경
cols_rename = {
    "id" : "아이디"
}
df = df.rename(columns= cols_rename)
df.head()

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

- 컬럼 삭제하기

In [ ]:
df.drop(columns=["아이디","생존"])

,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...
911,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
912,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
913,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

- 컬럼을 기준으로 정렬하기

In [ ]:
df.sort_values(by="나이") # 기본 오름차순으로 내림차순 정렬시 다음의 키워드 아규먼트를 줘야한다. ascending=False

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
852,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
480,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
289,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
41,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
587,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
881,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
893,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
895,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
897,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q

- `iloc`
    - 행번호 , 열번호 를 이용한 행, 열 슬라이싱

In [ ]:
df_sort = df.sort_values(by="나이")
df_sort

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
852,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
480,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
289,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
41,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
587,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
881,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
893,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
895,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
897,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q

In [ ]:
df_sort.iloc[:5,1:5] # numpy 슬라이싱방식과 동일

     생존  객실등급                                       이름      성별
852   1     3  Dean, Miss. Elizabeth Gladys Millvina""  female
480   1     2                Hamalainen, Master. Viljo    male
289   1     3            Baclini, Miss. Helene Barbara  female
41    0     3           Peacock, Master. Alfred Edward    male
587   1     2            Caldwell, Master. Alden Gates    male

In [ ]:
# 행, 열 번호를 리스트에 담아 선택하기
num_rows = [1,3]
num_cols = [0,4,5]
df_sort.iloc[num_rows,num_cols]

      아이디    성별    나이
480   756  male  0.67
41   1173  male  0.75

- 인덱스 새로 생성하기

In [ ]:
# 기존 인덱스가 컬럼 데이터가 되기 때문에 기존 인덱스를 삭제하기위해 drop=True 아규먼트를 줘야한다.
df_sort.reset_index(drop=True)

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
1,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
2,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
3,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
4,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
912,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
913,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
914,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
915,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q

- `loc`
    - index 명 과 column명  이용한 슬라이싱
    - 마스킹을 이용한 행과 열 선택이 가능하다.

In [ ]:
df.head()

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

In [ ]:
df.loc[:3] # end  값 까지 포함한다.

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S

In [ ]:
# 인덱스명과 컬럼명을 리스트에 담아 선택하기
idx = [0,2,3]
cols = ["이름" ,"나이", "요금"]
df.loc[idx,cols]

                         이름    나이       요금
0   Artagaveytia, Mr. Ramon  71.0  49.5042
2  Kink-Heilmann, Mr. Anton  29.0  22.0250
3     Hiltunen, Miss. Marta  18.0  13.0000

In [ ]:
# 마스킹을 이용한 방법
mask = df["생존"] == 1 # 생존자만 찾아보기
df.loc[mask] # bool 자료형이 시리즈로 담겨 true 인 행만 선택

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
7,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q
11,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
13,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.2500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
905,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.0,1,0,347072,13.9000,NaN,S
906,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.0500,NaN,S
907,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S
908,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.0,0,0,C 7077,7.2500,NaN,S
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [ ]:
# isin 메소드를 사용해서 s와 c 항구의 승객들만 보기
lst = ["S","C"]
mask = df["탑승항구"].isin(lst) # bool 자료형이 시리즈 형태로 반환
df.loc[mask] # true 인 행만 선택

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
910,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
913,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

- 타입 변환(type casting)하기
    - `astype` 메소드를 사용한다.

In [ ]:
df["요금"].astype("int32") # 요금 컬럼을 정수형으로 변경

0       49
1        8
2       22
3       13
4       26
      ...
911    512
912     24
913      7
914      7
915     36
Name: 요금, Length: 916, dtype: int32

- map 메소드 사용해보기
    - 딕셔너리를 전달하여 컬럼의 값들을 변경할수 있다.
    - key 에 변경전 값, value 에 변경후 값을 전달

In [ ]:
replace_dict = {"male" : 1, "female" : 0} # 남자를 1 여자를 0으로 변경해보기
df["성별"].map(replace_dict)

0      1
1      1
2      1
3      0
4      1
      ..
911    1
912    1
913    1
914    1
915    1
Name: 성별, Length: 916, dtype: int64

In [ ]:
df["성별"].map(lambda x : 1 if x == "male" else 0) # 함수도 가능

0      1
1      1
2      1
3      0
4      1
      ..
911    1
912    1
913    1
914    1
915    1
Name: 성별, Length: 916, dtype: int64

- 문자열 다루기
    - object 타입 Series 의 `str` 하위 속성을 이용하여 다양한 메소드를 사용할수있다.

In [ ]:
# 앞이나 뒤에 공백이 있어 동일한 범주인데 새로운 범주가 생기는 것을 방지하고 싶다면??
df["탑승항구"].str.strip() # 앞뒤 공백제거

0      C
1      S
2      S
3      S
4      S
      ..
911    C
912    Q
913    S
914    S
915    S
Name: 탑승항구, Length: 916, dtype: object

In [ ]:
# 특정 문자열을 제거하거나 변경하고 싶다면?
df["이름"].str.replace(",","")  # 쉼표를 빈문자열로 변경

0           Artagaveytia Mr. Ramon
1               Morley Mr. William
2          Kink-Heilmann Mr. Anton
3             Hiltunen Miss. Marta
4               Anderson Mr. Harry
                  ...
911          Lesurer Mr. Gustave J
912               Ryan Mr. Patrick
913                Coleff Mr. Peju
914                 Rekic Mr. Tido
915    Nicholls Mr. Joseph Charles
Name: 이름, Length: 916, dtype: object

In [ ]:
# 문자열을 특정 문자를 기준으로 분리하고 싶다면?
df["티켓번호"].str.split() # 인수를 넣지 않을경우 기본으로 띄어쓰기 기준으로 분리 , list 형태로 반환

0        [PC, 17609]
1           [364506]
2           [315153]
3           [250650]
4            [19952]
           ...
911      [PC, 17755]
912         [371110]
913         [349210]
914         [349249]
915    [C.A., 33112]
Name: 티켓번호, Length: 916, dtype: object

In [ ]:
df["이름"].str.len() # 문자열 길이

0      23
1      19
2      24
3      21
4      19
       ..
911    22
912    17
913    16
914    15
915    28
Name: 이름, Length: 916, dtype: int64

In [ ]:
df["이름"].str[:10] # 문자열 슬라이싱도 가능

0      Artagaveyt
1      Morley, Mr
2      Kink-Heilm
3      Hiltunen,
4      Anderson,
          ...
911    Lesurer, M
912    Ryan, Mr.
913    Coleff, Mr
914    Rekic, Mr.
915    Nicholls,
Name: 이름, Length: 916, dtype: object

In [ ]:
df["이름"].str.lower() # 소문자 변환, 대문자변환은 upper()

0           artagaveytia, mr. ramon
1               morley, mr. william
2          kink-heilmann, mr. anton
3             hiltunen, miss. marta
4               anderson, mr. harry
                   ...
911          lesurer, mr. gustave j
912               ryan, mr. patrick
913                coleff, mr. peju
914                 rekic, mr. tido
915    nicholls, mr. joseph charles
Name: 이름, Length: 916, dtype: object

In [ ]:
df["성별"].str.startswith("fe") # 문자열로 시작하는지 여부 , endswith 문자열로 끝나는지 여부

0      False
1      False
2      False
3       True
4      False
       ...
911    False
912    False
913    False
914    False
915    False
Name: 성별, Length: 916, dtype: bool

In [ ]:
df["이름"].str.contains("Mr.") # 문자열 포함 여부

0       True
1       True
2       True
3      False
4       True
       ...
911     True
912     True
913     True
914     True
915     True
Name: 이름, Length: 916, dtype: bool

## 결측치 다루기

In [ ]:
df.isnull() # 해당값에 결측치가 있을경우 True 없을경우 False

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
911,False,False,False,False,False,False,False,False,False,False,False,False
912,False,False,False,False,False,True,False,False,False,False,True,False
913,False,False,False,False,False,False,False,False,False,False,True,False
914,False,False,False,False,False,False,False,False,False,False,True,False
915,False,False,False,False,False,False,False,False,False,False,True,False

- 컬럼별로 결측치 개수 보기

In [ ]:
df.isnull().sum() # axis=0

아이디            0
생존             0
객실등급           0
이름             0
성별             0
나이           180
형제자매_배우자수      0
부모_자녀수         0
티켓번호           0
요금             0
객실번호         706
탑승항구           0
dtype: int64

- 결측치 채우기

In [ ]:
age_mean = df["나이"].mean()
df["나이"] = df["나이"].fillna(age_mean)
df["객실번호"] = df["객실번호"].fillna("UNK")

In [ ]:
df.isnull().sum().sum()

0

## 데이터 집계 하기

In [ ]:
df["요금"].mean(), df["요금"].median() # 평균과 중앙값

(34.42884825327511, 14.5)

In [ ]:
df["요금"].std(), df["요금"].var() # 표준편차와 분산

(54.607102524909266, 2981.9356461659518)

In [ ]:
df["요금"].max() , df["요금"].min()  # 최대값과 최소값

(512.3292, 0.0)

In [ ]:
df["탑승항구"].nunique() # 고유값 개수

3

In [ ]:
df["탑승항구"].unique() # 고유값 목록

array(['C', 'S', 'Q'], dtype=object)

In [ ]:
df["탑승항구"].mode() # 최빈값

0    S
Name: 탑승항구, dtype: object

In [ ]:
df["탑승항구"].value_counts() # 고유값 별로 개수 세기

탑승항구
S    646
C    186
Q     84
Name: count, dtype: int64

## groupby 사용하기
- 데이터를 그룹화하여 집계해서 가공하는데 아주 중요하다.
- 전체 데이터를 지정한 컬럼 기준으로 그룹 별로 나누고, 각 그룹별로 집계함수를 적용한 후, 그룹별 집계 결과를 하나로 합치는 단계를 거치게 된다.

![20221222142824.png]()

- groupy by 결과에 대한 단일 컬럼을 지정하여 집계하는 예시
    - 항구별 생존률을 집계하고 싶다면??

In [ ]:
df.groupby("탑승항구")["생존"].mean()  # 시리즈 반환

탑승항구
C    0.462366
Q    0.392857
S    0.351393
Name: 생존, dtype: float64

In [ ]:
df.groupby("탑승항구")["생존"].agg("mean") # agg 메소드 사용하여 집계 종류를 문자열로 전달 하는 예시

탑승항구
C    0.462366
Q    0.392857
S    0.351393
Name: 생존, dtype: float64

- groupy by 결과에 대해 agg 메소드에 딕셔너리를 전달하여 집계하는 예시.

In [ ]:
agg_dict = {"생존":"mean"} # key는 컬럼, value는 집계함수 혹은 집계 문자열
df.groupby("탑승항구").agg(agg_dict) # 데이터 프레임 형태로 반환된다.

            생존
탑승항구
C     0.462366
Q     0.392857
S     0.351393

- 여러 컬럼 집계하기

In [ ]:
# 탑승 항구별 생존률과 요금의 표준편차를 집계하기
agg_dict = {"생존":"mean","요금":"std"}
df.groupby("탑승항구").agg(agg_dict)

            생존         요금
탑승항구
C     0.462366  94.235132
Q     0.392857   6.592466
S     0.351393  34.958663

## 데이터 프레임 병합하기

- concat
    - 수직 또는 수평으로 병합
    - `pd.concat` 함수에 데이터프레임을 리스트에 담아서 전달

In [ ]:
pd.concat([df,df]) # 수직 병합 axis = 0

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.000000,0,0,PC 17609,49.5042,UNK,C
1,462,0,3,"Morley, Mr. William",male,34.000000,0,0,364506,8.0500,UNK,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,UNK,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.000000,1,1,250650,13.0000,UNK,S
4,461,1,1,"Anderson, Mr. Harry",male,48.000000,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,29.904891,0,0,371110,24.1500,UNK,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.000000,0,0,349210,7.4958,UNK,S
914,109,0,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,UNK,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,UNK,S

In [ ]:
pd.concat([df,df],axis=1) # 수평 병합

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,...,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.000000,0,0,PC 17609,49.5042,...,1,"Artagaveytia, Mr. Ramon",male,71.000000,0,0,PC 17609,49.5042,UNK,C
1,462,0,3,"Morley, Mr. William",male,34.000000,0,0,364506,8.0500,...,3,"Morley, Mr. William",male,34.000000,0,0,364506,8.0500,UNK,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,...,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,UNK,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.000000,1,1,250650,13.0000,...,2,"Hiltunen, Miss. Marta",female,18.000000,1,1,250650,13.0000,UNK,S
4,461,1,1,"Anderson, Mr. Harry",male,48.000000,0,0,19952,26.5500,...,1,"Anderson, Mr. Harry",male,48.000000,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,...,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,29.904891,0,0,371110,24.1500,...,3,"Ryan, Mr. Patrick",male,29.904891,0,0,371110,24.1500,UNK,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.000000,0,0,349210,7.4958,...,3,"Coleff, Mr. Peju",male,36.000000,0,0,349210,7.4958,UNK,S
914,109,0,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,...,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,UNK,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,...,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,UNK,S

- merge
    - 두개의 데이터 프레임을 기준이 되는 컬럼명의 같은 값을 기준으로 합친다.
    - how
        - inner(기본값): 기준이 되는 컬럼의 데이터로 merge 하는데 같은 값이 아닌 행들은 사라져서 반환된다.
        - left: 기준이 되는 컬럼의 데이터로 merge 하는데 왼쪽 데이터 프레임의 같은 값이 아닌 행들이 사라지지 않고 반환된다.

    ```python
    pd.merge(left, right, on='기준 컬럼', how='left')
    ```

![Screen-Shot-2020-09-21-at-7.22.41-AM-1024x401-2.png]()

- 머신러닝 모델에 학습데이터는 모두 수치형을 넣어줘야한다.
- 객실번호는 문자열이다. 객실번호를 의미 있는 수치형으로 변경하기위해 다음과 같이 전처리를 해보자
    - 객실번호별 운임료의 평균을 집계하여 데이터프레임 생성
    - merge 함수를 이용하여 각 객실번호에 해당하는 운임료평균 컬럼을 추가

In [ ]:
# 객실번호별 운임료 평균 집계
agg_dict = {"요금":"mean"}
tmp = df.groupby("객실번호").agg(agg_dict)
tmp

             요금
객실번호
A10   40.125000
A11   27.720800
A16   39.600000
A18   29.700000
A23   30.000000
...         ...
F33   10.500000
F4    39.000000
G6    13.581250
T     35.500000
UNK   20.059507

[146 rows x 1 columns]

In [ ]:
tmp = tmp.reset_index() # 인덱스에 있는 객실번호를 컬럼 으로 만들기
tmp

    객실번호         요금
0    A10  40.125000
1    A11  27.720800
2    A16  39.600000
3    A18  29.700000
4    A23  30.000000
..   ...        ...
141  F33  10.500000
142   F4  39.000000
143   G6  13.581250
144    T  35.500000
145  UNK  20.059507

[146 rows x 2 columns]

In [ ]:
# 데이터에 동일한 요금 컬럼이 있어 컬럼명 변경
tmp = tmp.rename(columns= {"요금" : "객실_운임료_평균"})
tmp

    객실번호  객실_운임료_평균
0    A10  40.125000
1    A11  27.720800
2    A16  39.600000
3    A18  29.700000
4    A23  30.000000
..   ...        ...
141  F33  10.500000
142   F4  39.000000
143   G6  13.581250
144    T  35.500000
145  UNK  20.059507

[146 rows x 2 columns]

In [ ]:
df = pd.merge(df, tmp, how='left', on="객실번호" ) # on 생략시 동일한 이름의 컬럼을 기준으로 머지한다.
df

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,요금,객실번호,탑승항구,객실_운임료_평균
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.000000,0,0,PC 17609,49.5042,UNK,C,20.059507
1,462,0,3,"Morley, Mr. William",male,34.000000,0,0,364506,8.0500,UNK,S,20.059507
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,UNK,S,20.059507
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.000000,1,1,250650,13.0000,UNK,S,20.059507
4,461,1,1,"Anderson, Mr. Harry",male,48.000000,0,0,19952,26.5500,E12,S,26.550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,B101,C,512.329200
912,518,0,3,"Ryan, Mr. Patrick",male,29.904891,0,0,371110,24.1500,UNK,Q,20.059507
913,664,0,3,"Coleff, Mr. Peju",male,36.000000,0,0,349210,7.4958,UNK,S,20.059507
914,109,0,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,UNK,S,20.059507
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,UNK,S,20.059507